<strong>Olá, {{ deliverer }}</strong>
<p>Uma entrega para você foi cancelada! Confira os detalhes abaixo:</p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Retirado: </strong> {{ startDate }} <br />
  <strong>Cancelado: </strong> {{ cancelDate }} <br />

  <strong>Recebedor: </strong> {{ name }} <br />
  <strong>Rua: </strong> {{ street }} <br />
  <strong>Numero: </strong> {{ number }} <br />
  <strong>Complemento: </strong> {{ complement }} <br />
  <strong>Estado: </strong> {{ state }} <br />
  <strong>Cidade: </strong> {{ city }} <br />
  <strong>CEP: </strong> {{ zip }} <br />



  <br />
  <small>
    Sua próxima retirada será inclusa normalmente!
  </small>
</p>
