<strong>Olá, {{ deliverer }}</strong>
<p>Uma entrega foi cadastrada para você! Confira os detalhes abaixo:</p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Recebedor: </strong> {{ name }} <br />
  <strong>Rua: </strong> {{ street }} <br />
  <strong>Numero: </strong> {{ number }} <br />
  <strong>Complemento: </strong> {{ complement }} <br />
  <strong>Estado: </strong> {{ state }} <br />
  <strong>Cidade: </strong> {{ city }} <br />
  <strong>CEP: </strong> {{ zip }} <br />



  <br />
  <small>
    Aguardamos sua retirada o quanto antes!
  </small>
</p>
